.theme_color_project-warning {
    --foneColor: #ff3333;
    --foneColorAccent: #FFFFFF;
    --borderColor: #ff3333;
    
    --textColor: #FFFFFF;
    --textColorSecondary: rgba(255, 255, 255, 0.6);
    --textColorAdditional: rgba(255, 255, 255, 0.3);
    --textColorLink: #FFF;
}