.theme_color_project-default {
    --foneColor: #FFFFFF;
    --foneColorAccent: #ffcc00;
    --borderColor: #000000;
    
    --textColor: #000000;
    --textColorSecondary: rgba(0, 0, 0, 0.6);
    --textColorAdditional: rgba(0, 0, 0, 0.6);
    --textColorLink: #0077ff;
}